.nested-rows {
    background: #F8FBFF 0% 0% no-repeat padding-box;
  }

  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0 !important;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  .mat-header-cell:last-child,.mat-cell:last-child{
    width:10%
  }
  .example-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction:column;
    .mat-cell:first-of-type {
        padding-left:0 !important
    }
    .mat-cell:last-of-type {
        padding-right:0 !important
    }
     tr {
         height: 48px !important;
     }
  }

  td.mat-column-expandedDetail {
      padding-right:0px !important;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  tr.mat-header-row {
    height: 50px !important;
    background: #EFF5FC 0% 0% no-repeat padding-box;
  }
  .subscribedData th.mat-header-cell {
    font-size: 14px;
    font-weight: 600;
    text-align: center !important;
}
  .mat-table {
    font-family: poppinsRegular;
  }
  .mat-paginator{
    font-family: poppinsRegular;
  }
  .subscribedData{
    text-align: center;
    border: 1px solid #D4E5F9;
    margin-top: 2rem;
  }
  select{
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 36px;
    align-items: center;
    width: 100%;
  }