
    .nav-tabs .nav-item {
      flex-grow: 1;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
      background: #fff 0% 0% no-repeat padding-box;
      color:#222B45;
      opacity: 1;
      border-bottom: 4px solid #3366FB;
      font-size: 18px;
      font-family: poppinsSemiBold;

  }
  .nav-tabs .nav-link {
      // background: #EFF5FC 0% 0% no-repeat padding-box;
  }
  .nav-tabs .nav-link,.nav-link:hover {
      color: #222B45;
      font-size: 18px;
      font-family:poppinsMedium;
      text-align: center;
      border:inherit;
      background-color: #FFF;
  }
  .edit-service-management-wrapper .tab-pane {
      padding: 45px 0px 22px 40px;
      border: 1px solid #D4E5F9;
      border-radius: 4px;
  }
  


.form-control {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  font-size: 12px;
  font-family: poppinsRegular;
}
.form-control:focus {
  border: 1px solid #3366FB;
  box-shadow: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.component-wrapper {
.datatable-row-center {
  background: #eff5fc 0% 0% no-repeat padding-box;
}
table {
  width: 100%;
}
tr.mat-header-row {
  height: 50px !important;
  background: #eff5fc 0% 0% no-repeat padding-box;
}
th.mat-header-cell {
  font-size: 14px;
  font-weight: 600;
}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
  border-bottom: none;
}
.ngx-datatable.bootstrap .datatable-group-header {
  height: 48px;
  width: 100% !important;
  .row > .row-item {
    padding: 12px;
  }
}

.nav-tabs .nav-item {
  flex-grow: 1;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: #fff 0% 0% no-repeat padding-box;
  color: #222b45;
  opacity: 1;
  border-bottom: 4px solid #3366fb;
  font-size: 18px;
  font-family: poppinsSemiBold;
}
.nav-tabs .nav-link {
  // background: #EFF5FC 0% 0% no-repeat padding-box;
}
.nav-tabs .nav-link,
.nav-link:hover {
  color: #222b45;
  font-size: 18px;
  font-family: poppinsMedium;
  text-align: center;
  border: inherit;
  background-color: #fff;
}

.view_icon,
.expand_icon {
  cursor: pointer;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #fff;
  color: #44cc3b;
  border: 1px solid #3366fb;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
.color-green {
  color: #44cc3b;
}

.dropdown-menu.show {
  padding: 0;
  .dropdown-item {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.search-bar {
  .col-5 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .has-search {
    .form-control {
      padding-left: 38px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-right: 38px;
      background-color: #fff;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-color: none;
      outline: 0;
      box-shadow: none;
    }

    .form-control-search-icon {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
    }
    .input-group-append {
      .form-control {
        padding: 6px;
        border: 1px solid #ced4da;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
}

.view-component-wrapper {
.view-component {
  padding: 19px 23px 18px 23px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #70707042;
  border-radius: 4px;
  opacity: 1;
}

.first-column,
.second-column {
  padding: 14px 29px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-left: 1px solid #d4e5f9;
}
.first-column {
  border-left: 1px solid #d4e5f9;
  border-top: 1px solid #d4e5f9;
}
.second-column {
  border-right: 1px solid #d4e5f9;
  border-top: 1px solid #d4e5f9;
}

.last-column {
  border-bottom: 1px solid #d4e5f9;
}

.color-green {
  color: #44cc3b;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #fff;
  color: #44cc3b;
  border: 1px solid #3366fb;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
.nav-tabs .nav-item {
  flex-grow: 1;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: #3366fb 0% 0% no-repeat padding-box;
  color: #fff;
}
.nav-tabs .nav-link {
  background: #eff5fc 0% 0% no-repeat padding-box;
}
.nav-tabs .nav-link,
.nav-link:hover {
  color: #3366fb;
  font-size: 16px;
  font-family: poppinsSemiBold;
  text-align: center;
}

.summary {
  &-section {
    padding: 19px 23px 18px 23px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #70707042;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &-total {
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 600;
  }

  &-dropdown {
    border: 1px solid #e4e9f2;
    border-radius: 4px;
    color: #222b45;
    font-size: 13px;
    font-weight: 400;
    background: #f8f9fc;
    font-family: poppinsMedium;
    min-width: 120px;
    width: 120px;
    padding-right: 5px;
    padding-left: 10px;
    margin-right: 28px;
    min-height: 40px;
    height: 40px;

    &::after {
      position: absolute;
      right: 12px;
      top: 44%;
    }
  }

  &-datepicker {
    background: #fff;
    font-weight: 100;
    font-family: poppinsRegular;
  }

  &-label {
    font-size: 15px;
  }

  &-button {
    background: #3a6bfc;
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 9px 35px;
  }
}
}

.checkbox-custom {
display: block;
position: relative;
padding-left: 25px;
margin-bottom: 12px;
cursor: pointer;
font-size: 13px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border-radius: 2px;
  background: #e4e9f2 0% 0% no-repeat padding-box;
  border: 1px solid #c5cee0;
}

&:hover input ~ .checkmark {
  background-color: #ccc;
}

input:checked ~ .checkmark {
  background-color: #2196f3;
  border: 1px solid #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 5px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-text {
  color: #919191;
  line-height: 15px;
}
}

.filter {
&-head {
  color: #646363;
  font-size: 13px;
}

&-label {
  color: #919191;
  line-height: 15px;
  font-size: 12px;
}

&-dropdown {
  border: 1px solid #e4e9f2;
  border-radius: 4px;
  color: #222b45;
  font-size: 12px;
  font-weight: 400;
  background: #f8f9fc;
  font-family: poppinsMedium;
  min-width: 120px;
  padding-right: 25px;
  margin-right: 28px;
  color: #919191;
  margin-bottom: 17px;

  &::after {
    position: absolute;
    right: 12px;
    top: 44%;
  }
}

&-datepicker {
  background: #fff;
  font-weight: 100;
  font-family: poppinsRegular;
}

&-clear {
  background: #fff;
  border: 1px solid #ddd;
  border: 1px solid #70707042;
  border-radius: 4px;
  color: #646363;
  margin-right: 20px;
  font-size: 12px;
  padding: 6px 12px;
}

&-submit {
  border: none;
  border-radius: 4px;
  color: #646363;
  margin-right: 20px;
  font-size: 12px;
  color: #fff;
  padding: 6px 17px;
  background: #3366fb 0% 0% no-repeat padding-box;
}
}

.tabs-info {
.nav-link {
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: white;
}
.nav-tabs .nav-link.active {
  color: #3366fb;
  border-color: white;
  border-bottom: 3px solid #3366fb;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  border: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
}
.card-header {
background: #f5f5f5 0% 0% no-repeat padding-box;
border-radius: 4px 4px 0px 0px;
font-family: "poppinsSemiBold";
font-size: 20px;
}

.card-body {
background: #ffffff 0% 0% no-repeat padding-box;
border: 1px solid #d4e5f9;
border-radius: 4px;
}


  .nav-tabs .nav-item {
      flex-grow: 1;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
      background: #fff 0% 0% no-repeat padding-box;
      color:#222B45;
      opacity: 1;
      border-bottom: 4px solid #3366FB;
      font-size: 18px;
      font-family: poppinsSemiBold;

  }
  .nav-tabs .nav-link {
      // background: #EFF5FC 0% 0% no-repeat padding-box;
  }
  .nav-tabs .nav-link,.nav-link:hover {
      color: #222B45;
      font-size: 18px;
      font-family:poppinsMedium;
      text-align: center;
      border:inherit;
      background-color: #FFF;
  }
  .edit-service-management-wrapper .tab-pane {
      padding: 45px 0px 22px 40px;
      border: 1px solid #D4E5F9;
      border-radius: 4px;
  }
  .edit-service-management-wrapper{
    width: 95%;
    margin: auto;
}
  .editalign{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #D4E5F9;
    background: #F5F5F5;
    margin-top: 17px;
}
.tab-content{
    background-color: #fff;
    border: 1px solid #D4E5F9;
}
.form-control {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  font-size: 12px;
  font-family: poppinsRegular;
}
.form-control:focus {
  border: 1px solid #3366FB;
  box-shadow: none;
}

// .edit-service-management-wrapper{
//     margin-left: 35px !important;
//     margin-right: 51px !important;
// }
.radio-active {
  background: #F8FCFDED;
  color: #000;
  border: 1px solid #F8FCFDED;
}