.card-body{
    width: 1292px;
    margin-left: 30px;
    border-radius: 3px;
    margin-top: 15px;
}

.nameStyle{
    font-size: 33px;
    margin-left: -166px;
    margin-top: 22px;
}

.subNameStyle{
    font-size: 17px;
    margin-left: -163px;
    margin-top: 13px;
}

.subNameStyle1{
    margin-left: -173px;
    font-size: 17px;
    margin-top: 81px;
}
.mat-table {
    font-family: poppinsRegular;
  }