<div class="view-component-wrapper" *ngIf="serviceDetails">

    <div class="mt-14">
        <div class="row align-items-center">
            <div class="col-md-10">
                <div class="mt-2 pl-4 ml-4 font-medium-16">
                    <span>
                        <span (click)="backtoTableList()" class="cursor-pointer">Service Management /  </span> <span class="text-primary">View Payroll service group</span>
                    </span>
                </div>
                <!-- <app-breadcrumb [breadcrumbList]="breadcrumbList"></app-breadcrumb> -->
                <!-- <app-title-with-back-arrow [titleWithBack]="titleWithBack"></app-title-with-back-arrow> -->
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary ml-auto" (click)="editServiceManagement(serviceDetails)"> <img
                    src="/assets/images/service_management_white.svg" alt=""> Edit Service</button>
                </div>
           
        </div>
    </div>

    <div class="edit-data mt-23">
        <div class="row">
            <div class="col-5">
                <div class="d-flex flex-column">
                    <div>
                        <span class="font-semi-bold-16">Service group :</span>
                        <span class="font-medium-16 ml-13">{{serviceDetails.serviceName}}</span>
                    </div>
                    <div class="mt-26">
                        <span class="font-semi-bold-16">Created Date :</span>
                        <span class="d-inline-block font-medium-16 ml-13">{{serviceDetails.createdTimestamp | date:'mediumDate'}}</span>
                    </div>
                    <div class="mt-26">
                        <span class="font-semi-bold-16"> Select Service :</span>
                        <div class="font-light-14 ml-13 d-inline-block">
                            <div class="btn-group" ngbDropdown role="group"
                                aria-label="Button group with nested dropdown">
                                <ng-container *ngIf="status !== 'Pending'">
                                    <button class="btn btn-primary"
                                        ngbDropdownToggle>{{activeSubServiceStatus}}</button>
                                    <div class="dropdown-menu" ngbDropdownMenu>
                                        <div *ngFor="let item of serviceData">
                                            <button ngbDropdownItem
                                                (click)="selectActiveSubServiceStatus(item)">{{item.apiName}}</button>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="status === 'Pending'">
                                    <button class="btn btn-primary"
                                        ngbDropdownToggle>{{pendingSubServiceStatus}}</button>
                                    <div class="dropdown-menu w-100" ngbDropdownMenu>
                                        <div *ngFor="let item of pendingSubServiceDropdown[pendingSubServiceStatus]">
                                            <button ngbDropdownItem
                                                (click)="selectPendingSubServiceStatus(item)">{{item}}</button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column">
                    <div>
                        <span class="font-semi-bold-16">BE Name :</span><span
                            class="d-inline-block font-medium-16 ml-13">{{serviceDetails.businessName}}</span>
                    </div>
                    <div class="mt-26">
                        <span class="font-semi-bold-16">Product :</span>
                        <span class="d-inline-block font-medium-16 ml-13">{{serviceDetails.productName}}</span>
                    </div>
                    <div class="mt-26">
                        <span class="font-semi-bold-16">Status :</span>
                        <div class="d-inline-block font-light-14 ml-13">
                            <div class="btn-group" ngbDropdown role="group"
                                aria-label="Button group with nested dropdown">
                                <ng-container *ngIf="status !== 'Pending'">
                                    <button class="btn btn-outline-secondary color-green"
                                        ngbDropdownToggle>{{activeServiceStatus}}</button>
                                    <div class="dropdown-menu w-100" ngbDropdownMenu>
                                        <div *ngFor="let item of actionItems">
                                            <button ngbDropdownItem
                                                (click)="selectActiveServiceStatus(item)">{{item.actionName}}</button>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="status === 'Pending'">
                                    <button class="btn btn-outline-secondary"
                                        ngbDropdownToggle>{{pendingServiceStatus}}</button>
                                    <div class="dropdown-menu w-100" ngbDropdownMenu>
                                        <div *ngFor="let item of pendingServiceDropdown[pendingServiceStatus]">
                                            <button ngbDropdownItem
                                                (click)="selectPendingServiceStatus(item)">{{item}}</button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column">
                    <div>
                        <span class="font-semi-bold-16"># services :</span><span
                            class="d-inline-block font-medium-16 ml-13">{{serviceDetails.services}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-info mt-4 mb-4">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>General Information</a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            Service Name :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.apiName}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            Service Type :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.serviceType}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            Service Description :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.serviceDesc}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            Business Entity :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.businessName}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            Product :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.productName}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            Visibility :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.visibility}}
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            Total subscribers :
                        </div>
                        <div class="col-8 second-column font-light-14">
                           {{serviceDetails.subscribers}}
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            Unit Cost :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.unitCost}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            Transaction limit period :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.transactionLimitPeriod}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column last-column font-semi-bold-16">
                            Transaction limit :
                        </div>
                        <div class="col-8 second-column last-column font-light-14">
                            {{serviceDetails.transactionLimit}}
                        </div>
                    </div>

                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Technical Information</a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            API Name :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.apiName}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            API Description :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.apiDesc}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            API Method :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.apiMethod}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            API Format :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.apiFormat}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            API I/P :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.apiInput}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column font-semi-bold-16">
                            API O/P :
                        </div>
                        <div class="col-8 second-column font-light-14">
                            {{serviceDetails.apiOutput}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 first-column last-column font-semi-bold-16">
                            API Slug :
                        </div>
                        <div class="col-8 second-column last-column font-light-14">
                            {{serviceDetails.apiSlug}}
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav"></div>
    </div>
</div>