.mat-table {
    font-family: poppinsRegular;
  }

  mat-paginator{
    font-family: poppinsRegular;
  }
  select{
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 36px;
    align-items: center;
    width: 100%;
  }

.userManagement{
  border: 1px solid #D4E5F9;
}